<section class="patterned" id="authors">
  <div class="bordered centered content">
    <h2>This manifesto was produced by</h2>
    <p>The Manifesto is a non-profit initiative of the Edutainme Project and represents a collaborative effort between teachers, psychologists, designers, information architects, IT designers and developers. This is a first shot, yet we hope to be joined by more professionals who will help refine and enhance the chosen ideas to eventually turn this manifesto into the industry standard.</p>
    <div class="authors">
      <figure>
        <div class="photo"></div>
        <figcaption>
          Michael Kushnir
          <small>Teacher</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Marina Mdivani
          <small>Psychologist</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Andrey Mereskin
          <small>Programmer</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Liza Oreshkina
          <small>Information architect</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Lya Safina
          <small>Pedagogical designer</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Lara Simonova
          <small>Analyst</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Vladimir Sinelnikov
          <small>Publisher</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Ivan Travkin
          <small>Teacher</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Shamil Khisambeev
          <small>Psychologist</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Natasha Tschebotar
          <small>Editor</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Sasha Ermolenko
          <small>Art director</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Zakhar Day
          <small>Engineer</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Vadim Entin
          <small>Developer</small>
        </figcaption>
      </figure>
    </div>
  </div>
</section>