<div id="menu">
  <header>
    <%= image_tag "close.png", id: "closeMenuButton" %>
  </header>
  <nav>
    <a href="#s1">New Organization</a>
    <a href="#s2">Better Motivation</a>
    <a href="#s3">New Architecture</a>
    <a href="#s4">New Pedagogy</a>
    <a href="#changes">Before-After</a>
    <a href="#authors">Project Authors</a>
    <a href="#sign">Share with Friends</a>
  </nav>
</div>