<section class="statement" id="s4">
  <header>
    <h2 class="centered content">
      <%= image_tag "s4.png" %>
      New pedagogy_
    </h2>
  </header>
  <section class="statement content centered">
    <section class="point">

      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.01</div>
        </div>
        <h3>From monopoly to&nbsp;a&nbsp;media&nbsp;space</h3>
      </header>

      <div class="line centered"></div>
      <h4>Education should learn to compete with the entertainment industry</h4>
      <div class="line centered"></div>

      <p>In the digital environment, learning projects compete not only with other online courses, but also with museums, sports, TV shows, social networks and any open websites and applications. Under these conditions, it is particularly important to adopt the same tools as the competitors, and employ the same specialists. Every additional minute spent on learning is a win for UX designers, developers, script writers and content supervisors. The online learning environment is not simply a stage where the learning process unfolds, but rather a dynamic space that can change its characteristics depending on who is using it and his/her behavior. The concept of a learning scenario arises: when developing learning resources, it is necessary to consider the sequence of movements in their modules, sessions and sections. We believe that in the future, online learning programs will be able to form a new independent genre, with its very own fans, huge budgets and Hollywood-like teachers starring in the leading roles.</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.02</div>
        </div>
        <h3>From the pedagogy–philosophy and pedagogy–art to digital pedagogy</h3>
      </header>

      <div class="line centered"></div>
      <h4>Pedagogy is becoming an exact science</h4>
      <div class="line centered"></div>

      <p>In the digital environment, there is no place for friendly pats on the shoulder or ferules. Old pedagogical theories wake up to find themselves in a completely new environment. A new digital pedagogy is coming to life and nobody really knows how it should be organized. Yet what is clear is that we need to strive to experiment and discover new working models. New big data can be used for more in-depth assessments of knowledge and skills, deepening links between all the levels of learning, networking between educational institutions, students and employers, and progress assessment. </p>
    </section>
  </section>
</section>
