<footer id="sign">
  <h2 class="centered content">
    <%#= image_tag "9.gif" %>
    Do you agree?<br>
    Share with friends!
  </h3>
  <p class="centered content">
    Sign the manifesto and tell your friends about innovations in education
  </p>

  <%= render "welcome/en/social_likes" %>
</footer>

<footer id="sign">
  <%= image_tag "10.gif" %>
</footer>
