<nav id="sidebarMenu">
  <header>
    <%= image_tag "close.png", id: "closeMenuButton" %>
  </header>

  <ul>
    <li><a class="scrollTo" href="#s1">New Organization</a></li>
    <li><a class="scrollTo" href="#s2">Better Motivation</a></li>
    <li><a class="scrollTo" href="#s3">New Architecture</a></li>
    <li><a class="scrollTo" href="#s4">New Pedagogy</a></li>
    <li><a class="scrollTo" href="#changes">Before-After</a></li>
    <li><a class="scrollTo" href="#authors">Project Authors</a></li>
    <li><a class="scrollTo" href="#sign">Share with Friends</a></li>
  </ul>
</nav>
