<div class="share social-likes social-likes_single" data-counters="no" data-title="Поделиться манифестом" data-single-title="Share the manifesto">
  <div class="facebook" title="Share the manifesto on Facebook">facebook</div>
  <div class="vkontakte" title="Share the manifesto in Vk">вконтакте</div>
</div>
