<nav id="sidebarMenu">
  <header>
    <%= image_tag "close.png", id: "closeMenuButton" %>
  </header>
  
  <ul>
    <li><a href="#s1">Новая Организация</a></li>
    <li><a href="#s2">Лучшая Мотивация</a></li>
    <li><a href="#s3">Новая Архитектура</a></li>
    <li><a href="#s4">Новая Педагогика</a></li>
    <li><a href="#changes">Было–Стало</a></li>
    <li><a href="#authors">Авторы Проекта</a></li>
    <li><a href="#sign">Рассказать Друзьям</a></li>
  </ul>
</nav>
