<footer id="sign">
  <h2 class="centered content">
    <%#= image_tag "9.gif" %>
    Согласны&nbsp;с&nbsp;нами?<br>
    Расскажите&nbsp;друзьям!
  </h3>
  <p class="centered content">
    Подпишитесь под манифестом и расскажите об инновациях в образовании друзьям
  </p>

  <%= render "welcome/ru/social_likes" %>
</footer>

<footer id="sign">
  <%= image_tag "10.gif" %>
</footer>
