<section class="patterned" id="authors">
  <div class="bordered centered content">
    <h2>В создании манифес-та&nbsp;принимали&nbsp;участие</h2>
    <p>Манифест – это некоммерческая инициатива проекта Edutainme, в работе над которой объединились педагоги, психологи, дизайнеры, информационные архитекторы, IT- проектировщики и разработчики. Это первый подход к снаряду, но мы надеемся, что к нам присоединится больше профессионалов, которые помогут доработать и доразвить заложенные идеи, чтобы превратить этот манифест в стандарт.</p>
    <div class="authors">
      <figure>
        <div class="photo"></div>
        <figcaption>
          Михаил Кушнир
          <small>Учитель</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Марина Мдивани
          <small>Психолог</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Андрей Мерескин
          <small>Программист</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Лиза Орешкина
          <small>Информационный архитектор</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Лия Сафина
          <small>Педагогический дизайнер</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Лара Симонова
          <small>Аналитик</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Владимир Синельников
          <small>Издатель</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Иван Травкин
          <small>Учитель</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Шамиль Хисамбеев
          <small>Психолог</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Наташа Чеботарь
          <small>Редактор</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Саша Ермоленко
          <small>Арт-директор</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Захар День
          <small>Инженер</small>
        </figcaption>
      </figure>

      <figure>
        <div class="photo"></div>
        <figcaption>
          Энтин Вадим
          <small>Разработчик</small>
        </figcaption>
      </figure>
    </div>
  </div>
</section>