<section class="statement" id="s4">
  <header>
    <h2 class="centered content">
      <%= image_tag "s4.png" %>
      Новая педагогика_
    </h2>
  </header>
  <section class="statement content centered">
    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.01</div>
        </div>
        <h3>От&nbsp;монополии&nbsp;к медиапростран-ству</h3>
      </header>

      <div class="line centered"></div>
      <h4>Образование должно учиться конкурировать с индустрией развлечений</h4>
      <div class="line centered"></div>

      <p>В цифровой среде конкурентами образовательных проектов становятся не только другие онлайн-курсы, но и музеи, игры, сериалы, социальные сети и просто любые открытые сайты и приложения. В этих условиях особенно важно брать на вооружение те же инструменты, что и конкуренты, тех же специалистов. Каждая дополнительная минута, потраченная на обучение – победа UX-дизайнеров, разработчиков, сценаристов и контент-кураторов. Учебная среда онлайн – это не просто сцена, на которой разворачивается образовательный процесс, а динамичное пространство, способное менять свои характеристики в зависимости от того, кто и как в ней себе ведет. Появляется понятие образовательного сценария: при разработке образовательных ресурсов нужно учитывать последовательности перемещения по их модулям, сессиям и разделам. Мы верим, что в будущем образовательные онлайн-программы могут сформировать новый самостоятельный жанр, со своими поклонниками, колоссальными бюджетами и «голливудскими» учителями в главных ролях</p>
    </section>

    <section class="point">
      <header>
        <%= image_tag @images.pop %>
        <div class="sectionNumberWrapper">
          <div class="sectionNumber">.01</div>
        </div>
        <h3>От педагогики-философии и педагогики-искусства к цифровой педагогике</h3>
      </header>

      <div class="line centered"></div>
      <h4>Педагогика становится точной наукой</h4>
      <div class="line centered"></div>

      <p>В цифровом пространстве нельзя дружески похлопать по плечу или ударить по пальцам линейкой.  Старые педагогические теории попадают в совершенно новые условия. Формируется новая, цифровая педагогика, и никто толком не понимает, как она должна быть устроена. Ясно только, что нужно пробовать, экспериментировать и искать новые работающие модели. Новые большие данные можно использовать для более глубокого оценивания знания и навыков, углубления связей между всеми уровнями обучения, налаживания контакта между образовательными институтами, студентами и работодателями, оценке успеваемости.</p>
    </section>
  </section>
</section>