<section class="statement" id="s1">
  <header>
    <h2 class="centered content">Новая организация образовательного<br> содержания_</h2>
  </header>
  <section class="statement content centered">
    <section class="point">
      <h3>От неделимых курсов к микро–форматам</h3>
      <div class="line centered"></div>
      <h4>Нужно перестать мыслить в терминах курсов. Будущее – за гранулированными форматами</h4>
      <div class="line centered"></div>
      <p>Современный мобильный человек учится и работает повсюду — короткими урывками в метро, на даче без интернета, в кровати и в парке.</p>

      <p>Переход к более компактным, гранулированным образовательным форматам откроет новые возможности для обучения: учителя смогут включать в свои курсы фрагменты материалов других учителей, давать на них ссылки. Ученики смогут легче находить информацию для междисциплинарных исследований, легче выходить за пределы своего курса – например, из биологии в химию, из истории в экономику.</p>

      <p>Гранулированные форматы сделают обучение гибким и доступным для все более широкой аудитории, которая продолжает учиться всю жизнь.</p>
    </section>

    <section class="point">
      <h3>От пассивного слушания к активному действию</h3>
      <div class="line centered"></div>
      <h4>За ключевую единицу обучения нужно принимать активность</h4>
      <div class="line centered"></div>
      <p>Сейчас обучение – это чаще всего получение информации, заданной извне – программой, учителем или стандартом. В цифровой среде единицей обучения становится активность учащегося. Активность направлена не только восприятие, но и на продуктивные действие ученика над полученной информацией или в процессе ее получения. Активностью может быть прочтение или просмотр, работа со встроенной моделью, выполнение заданий или самопроверка. Пройти активность – значит дочитать или досмотреть до конца, поработать с моделью, найти правильные ответы.</p>

      <p>Активности автономны, а вместе формируют бесконечное количество цепочек: курсов, квестов, кампаний – образовательных траекторий. Каждая активность должна обладать определенной стоимостью: в процентах от итогового результата, плюсах к навыкам и метанавыкам.</p>
    </section>

    <section class="point">
      <h3>От белых пятен к картам знаний</h3>
      <div class="line centered"></div>
      <h4>Межпредметные связи важны так же, как отдельные области знаний</h4>
      <div class="line centered"></div>
      <p>С появлением более компактных, гранулированных форматов обучения возникает необходимость в картах и графах, отражающих горизонтальные связи между образовательными активностями, а также в развитии анализа большого объема данных. Создание графов знаний станет толчком к развитию новых поисковых механизмов и рекомендательных систем для образовательных программ, учебных и научных материалов, позволит лучше классифицировать области знаний и навыков, станет основой для гибких систем аттестации.</p>
    </section>

    <section class="point">
      <h3>От единых учебников к персонали- зированным траекториям</h3>
      <div class="line centered"></div>
      <h4>Индивидуализация – высшее благо и точка отсчета</h4>
      <div class="line centered"></div>
      <p>Привычное понятие «учебник» сохраняет смысл исключительно как подборка образовательного содержания разного типа. На смену ему должна прийти цифровая образовательная среда, где каждый может выбирать собственную образовательную траекторию, состоящую из активностей, которые нужны ему здесь и сейчас. Среда, в свою очередь, должна непрерывно анализировать потребности и способности ученика и предлагать сценарии дальнейшего развития.</p>

      <p>Например, рекомендательные системы должны принимать во внимание, что к одним и тем же навыкам можно прийти разными путями, а уровень учеников на одной и той же образовательной программе может быть разным. При формировании образовательной траектории возраст не имеет значения, на первый план выходят знания, мотивация и скорость восприятия.</p>

      <p>Рекомендации должны быть доступны всем участникам образовательного процесса – в том числе учителям и родителям.</p>
    </section>
  </section>
</section>