<footer id="sign">
  <h2 class="centered content">
    Согласны с нами?<br>
    Расскажите друзьям!
  </h3>
  <p class="centered content">
    Подпишитесь под манифестом и расскажите об инновациях в образовании друзьям
  </p>
  <%= link_to "Поделиться манифестом", "#", class: "centered" %>
</footer>