#authors {
  padding-top: 135px;
  padding-bottom: 135px;

  .authors {
    text-align: center;
    margin-top: 106px;
    width: 100%;

    figure {
      width: 285px;
      display: inline-block;
      margin:0 auto 36px;

      &:last-child {
        margin-bottom: -35px;
      }

      figcaption{
        display: block;
        margin-top: 32px;
        text-align: center;
        @include ptsanscaption(20px, bold);

        small {
          @include ptsans(16px);
          color: gray;
          display: block;
          text-align: center;
          line-height: 54px;
        }
      }
    }

  }
}