#authors {
  padding-top: 135px;
  padding-bottom: 135px;

  h3 {
    a {
      &:hover {
        color: blue;
        text-decoration: none;
      }
    }
  }

  h4 {
    margin: 26px 0 0 86px;
    @include ptsanscaption(18px, bold);
    line-height: 1.2;
  }

  .faces {
    display: block;
    margin: 50px auto;
  }

  .authors {
    text-align: center;
    width: 100%;

    &.coauthors {
      figure {
        width: 220px;
      }
    }

    figure {
      width: 285px;
      display: inline-block;
      margin-top: 100px;

      figcaption {
        display: block;
        margin-top: 32px;
        text-align: center;
        @include ptsanscaption(20px, bold);

        small {
          margin-top: 8px;
          @include ptsans(16px);
          color: gray;
          display: block;
          text-align: center;
        }
      }
    }

  }
}
