#authors {
  padding-bottom: 225px;

  h2 {
    margin-bottom: 45px;
    @include ptsanscaption(70px, bold);
    line-height: 80px;
  }

  p {
    @include ptsans(28px);
    line-height: 45px;
  }

  .authors {
    text-align: center;
    margin-top: 106px;
    width: 100%;

    figure {
      width: 49.7%;
      display: inline-block;
      margin:0 auto 93px;

      &:last-child {
        margin-bottom: 46px;
      }

      .photo {
        margin:0 auto;
        display: block;
        width: 170px;
        height: 170px;
        background-color: blue;
        @include transform(rotate(45deg))
      }

      figcaption{
        display: block;
        margin-top: 86px;
        text-align: center;
        @include ptsanscaption(30px, bold);

        small {
          @include ptsans(23px);
          color: gray;
          display: block;
          text-align: center;
          line-height: 54px;
        }
      }
    }

  }
}