
#changes {
  margin-bottom: 260px;

  h3 {
    margin-top: 273px;
    margin-bottom: 100px;
    width: 654px;
    @include ptsanscaption(75px, bold);
    line-height: 86px;
  }

  h4 {
    margin-bottom: 53px;
    text-align: center;
    @include georgia(28px, normal, italic);
    line-height: 38px;
  }

  table {
    margin-bottom: 120px;
    th, td {
      border-bottom: 2px solid gray;
      line-height: 133px;

      &.arrow {
        width: 85px;

        img {
          display: block;
          margin: auto;
        }
      }

      &:not(.arrow) {
        width: 350px;
      }
    }

    th {
      @include ptsans(30px, bold);
      text-align: center;
    }

    td {
      padding: 45px 0;
      @include georgia(22px);
      line-height: 33px;

      &:first-child {
        padding-right: 68px;
      }
      &:last-child {
        padding-left: 68px;
      }
    }
  }
}