#menu {
  position: fixed;
  display: none;
  z-index: 100;
  top: 0;
  right: 0;
  width: 654px;
  background-color: black;
  max-height: 100%;


  header {
    padding: 40px;

    img {
      float: right;
      cursor: pointer;
    }
  }

  nav {
    display: block;
    margin-bottom: 116px;

    a {
      display: block;
      padding: 28px 118px ;

      @include ptsanscaption(20px, bold);
      text-transform: uppercase;
      text-decoration: none;
      color: white;

      &:hover {
        background-color: $blue;
      }
    }
  }
}