#sidebarMenu {
  position: fixed;
  // display: none;
  z-index: 100;
  top: 0;
  left: 0;
  width: 330px;
  height: 100%;
  background-color: black;
  max-height: 100%;


  header {
    display: none;
    position: absolute;
    right: 0;
    padding: 27px;

    img {
      float: right;
      cursor: pointer;
    }
  }

  ul {
    display: block;
    margin-bottom: 116px;

    a {
      display: block;
      padding: 30px;

      @include ptsanscaption(20px, bold);
      text-transform: uppercase;
      text-decoration: none;
      color: white;

      &:hover,
      &.active {
        background-color: $blue;
      }
    }
  }
}

@media only screen and (max-width : 1240px) {
  #sidebarMenu {
    display: none;

    header {
      display: block;
    }
  }
}
