.statement {
  margin-bottom: 135px;

  & > header {
    background-color: $blue;
    overflow: auto;

    h2 {
      margin-top: 82px;
      margin-bottom: 110px;
      @include ptmono(50px);
      line-height: 68px;
      letter-spacing: 1px;
      color: white;

      img {
        display: block;
        margin-bottom: 45px;
      }
    }
  }

  .point {
    header {
      display: block;
      position: relative;
      width: 654px;

      img {
        position: absolute;
        z-index: -1;
        top: -135px;
        left: -30px;
      }

      .sectionNumberWrapper{
        position: relative;
        margin: 316px auto 76px;
        width: 78px;
        height: 78px;

        @include transform(rotate(45deg));

        border: 1px solid black;

        .sectionNumber {
          position: absolute;
          left: 20px;
          top: 35px;

          @include transform(rotate(-45deg));
          @include ptmono(20px);
          text-align: center;
        }
      }
    }

    h3 {
      @include ptsanscaption(75px, bold);
      line-height: 86px;
      margin-bottom: 57px;
      & + p {
        margin-top: -4px;
      }
    }

    h4 {
      margin-top: 46px;
      margin-bottom: 46px;
      text-align: center;
      @include georgia(28px, normal, italic);
      line-height: 38px;
    }

    .line {
      height: 2px;
      width: 100px;
      background-color: black;
      & + p {
        margin-top: 70px;
      }
    }

    p {
      @include georgia(22px);
      line-height: 33px;
      margin-bottom: 36px;

      &:last-child {
        margin-bottom: -10px;
      }
    }

    h5 {
      @include ptsans(30px, bold);
      margin-top: 46px;
      margin-bottom: 12px;
      line-height: 1.2;
    }
  }
}
