.statement {
  header {
    background-color: $blue;
    overflow: auto;

    h2 {
      margin: 158px auto; //replace with top + bottom
      @include ptmono(70px);
      line-height: 85px;
      letter-spacing: 1px;
      color: white;
    }
  }

  .point {
    h3 {
      margin-top: 595px;
      @include ptsans(100px, bold);
      line-height: 110px;
      margin-bottom: 72px;
      & + p {
        margin-top: -4px;
      }
    }

    h4 {
      margin-top: 55px;
      margin-bottom: 53px;
      text-align: center;
      @include georgia(38px, normal, italic);
      line-height: 50px;
    }

    .line {
      height: 2px;
      width: 100px;
      background-color: black;
      & + p {
        margin-top: 70px;
      }
    }

    p {
      @include georgia(28px);
      line-height: 45px;
      margin-bottom: 43px;

      &:last-child {
        margin-bottom: 257px;
      }
    }

    small {
      h5 {
        @include ptsans(23px, bold);
        margin-bottom: 23px;
      }

      p {
        @include ptsans(20px);
        line-height: 37px;
      }
    }
  }
}