#titleSection {
  padding-bottom: 135px;
}

#welcomeSection {
  width: 726px;
  padding-top: 70px;

  h1 {
    width: 800px;
    margin-bottom: 90px;
    @include ptsanscaption(90px, bold);
    line-height: 100px;

    .inlineImg {
      display: inline-block;
      position: relative;
      width: 150px;
      margin-left: 50px;

      img {
        width: 100%;
        position: absolute;
        bottom: -10px;
        left: -10px;
      }
    }

    .inlineText {
      display: inline-block;
      position: relative;
      height: 38px;
      border-left: 2px solid gray;
      width: 260px;
      margin-left: -20px;
      margin-bottom: 5px;

      small {
        margin-left: 12px;
        position: absolute;
        display: block;
        @include ptsanscaption(16px);
        line-height: 13px;

        br:last-child {
          line-height: 14px;
        }


        a {
          color: $blue;
        }
      }
    }
  }

  .chevron {
    display: block;
    width: 36px;
    margin-bottom: 135px;
  }

}

#preface {

  img {
    display: block;
    margin: 60px auto 80px;
  }

  a {
    display: block;
    position: relative;
    width: 297px;
    margin-top: 50px;
    margin-left: 86px;
    @include ptsanscaption(26px, bold);
    text-decoration: none;
    color: black;
    @include transition(all 250ms ease-in);

    &:hover {
      color: $blue;
    }

    img {
      position: absolute;
      margin-top: 12px;
      margin-left: 12px;
    }
  }

}
