#header {
  padding-bottom: 135px;

  header {
    padding: 55px 55px 0;

    span {
      @include ptsanscaption(23px, bold);


      a {
        color: black;
        text-decoration: none;
        letter-spacing: 1px;

        &.active {
          color: $blue;
          cursor: not-allowed;
        }

        &:not(.active):hover {
          text-decoration: underline;
        }
      }
    }

    .burgerButton {
      display: inline-block;
      width: 35px;
      float:right;
      cursor: pointer;

      div {
        height: 3px;
        background-color: black;

        @include transition(all 250ms ease-in);

        &:nth-child(2) {
          margin: 6px 0;
        }
      }

      &:hover div {
        background-color: $blue;

        &:nth-child(1) {
          @include transform(translate(0, -2px))
        }

        &:nth-child(3) {
          @include transform(translate(0, 2px))
        }
      }
    }
  }
}

#mainHeader {

  h1 {
    width: 800px;
    margin-top: 70px;
    margin-bottom: 90px;
    @include ptsanscaption(90px, bold);
    line-height: 100px;

    .inlineImg {
      display: inline-block;
      position: relative;
      width: 150px;
      margin-left: 50px;

      img {
        width: 100%;
        position: absolute;
        bottom: -10px;
        left: -10px;
      }
    }

    .inlineText {
      display: inline-block;
      position: relative;
      height: 38px;
      border-left: 2px solid gray;
      width: 260px;
      margin-left: -20px;
      margin-bottom: 5px;

      small {
        margin-left: 12px;
        position: absolute;
        display: block;
        @include ptsanscaption(16px);
        line-height: 13px;

        br:last-child {
          line-height: 14px;
        }


        a {
          color: $blue;
        }
      }
    }
  }

  .chevron {
    display: block;
    width: 36px;
    margin-bottom: 135px;
  }

}

#preface {

  a {
    display: block;
    position: relative;
    width: 297px;
    margin-top: 50px;
    margin-left: 86px;
    @include ptsanscaption(26px, bold);
    text-decoration: none;
    color: black;
    @include transition(all 250ms ease-in);

    &:hover {
      color: $blue;
    }

    img {
      position: absolute;
      margin-top: 12px;
      margin-left: 12px;
    }
  }

}
