html, body {
  @include georgia();
  @include box-sizing(border-box)
}

.patterned {
  background: image-url("pattern.png");
  background-size: 200%;
  background-position: -1110px -60px;
  background-repeat: repeat;
}

.centered {
  margin: auto;

  &#mainHeader {
    width: 726px;
  }

  &.content {
    width: 574px;
  }

  &.bordered {
    border: 10px solid $blue;
    padding: 86px;

    h2 {
      margin-bottom: 45px;
      @include ptsanscaption(60px, bold);
      line-height: 65px;
    }

    p {
      @include georgia(20px);
      line-height: 33px;
      margin-bottom: 35px;
    }
  }

  &.table {
    width: 574px;
  }
}


.bouncy:hover {

  @keyframes bounce {
    50%   { @include transform(translate(0, 10px)) }
    100%  { @include transform(translate(0, 0))    }
  }
  animation-name: bounce;
  animation-duration: 1250ms;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.blue{
  color: $blue;
}