html, body {
  @include georgia();
  @include box-sizing(border-box);
  min-width: 996px;
}

.patterned {
  background: image-url("pattern.png");
  background-size: 200%;
  background-position: -1110px -140px;
  background-repeat: repeat;
}

.centered {
  margin: auto;

  &#mainHeader {
    width: 726px;
  }

  &.content {
    width: 574px;
  }

  &.bordered {
    box-sizing: border-box;
    width: 800px;
    border: 10px solid $blue;
    padding: 86px 0;
    background-color: white;

    h2 {
      margin: 86px 0 36px 86px;
      @include ptsanscaption(56px, bold);
      line-height: 63px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    h3 {
      margin: 186px 0 0 86px;
      @include ptsanscaption(48px, bold);
      line-height: 1.2;

      a {
        color: black;
      }
    }

    p {
      width: calc(100% - 86px - 86px);
      margin: 0 auto 35px;
      @include georgia(23px);
      line-height: 34px;
    }
  }

  &.table {
    width: 574px;
  }
}


.bouncy:hover {

  @keyframes bounce {
    50%   { @include transform(translate(0, 10px)) }
    100%  { @include transform(translate(0, 0))    }
  }
  animation-name: bounce;
  animation-duration: 1250ms;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.blue{
  color: $blue;
}
