@mixin georgia ($size: 1em, $weight: normal, $style: normal) {
  font-family: Georgia, serif;
  font-size: $size;
  font-weight: $weight;
  font-style: $style
}

@mixin ptsans($size: 1em, $weight: normal, $style: normal) {
  font-family: "PT Sans Caption", Helvetica, Arial, sans-serif;
  font-size: $size;
  font-weight: $weight;
  font-style: $style
}

@mixin ptmono($size: 1em) {
  font-family: "PT Mono", Mono;
  font-size: $size;
}