//vars
$contentWidth: 720px;
$blue: #2035f9;
//mixins

@mixin georgia ($size: 1em, $weight: normal, $style: normal) {
  font-family: Georgia, serif;
  font-size: $size;
  font-weight: $weight;
  font-style: $style
}

@mixin ptsans($size: 1em, $weight: normal, $style: normal) {
  font-family: "PT Sans Caption", Helvetica, Arial, sans-serif;
  font-size: $size;
  font-weight: $weight;
  font-style: $style
}

@mixin ptmono($size: 1em) {
  font-family: "PT Mono", Mono;
  font-size: $size;
}

//styles

html, body {
  @include georgia();
  // @include box-sizing(border-box)
}

.wrapper.centered, .bordered {
  display: block;
  width: $contentWidth;
  margin: 0 auto;
}

.bordered {
  border: 0.9em solid $blue;
  padding: 6em 7.5em;
}

.cover {
  background: #fefb3b;
}

.front.cover {
  @include ptsans();
  overflow: auto;

  header {
    display: block;
    margin: 6.5em auto;

    h1 {
      @include ptsans(6.5em, bold);
      line-height: 1.3em;

      small {
        display: inline-block;
        @include ptsans(1.5em / 6.5);
        line-height: 1.3em;

        a:visited {
          text-decoration: none;
        }
      }
    }

    .chevron {
      display: block;
      width: 2em;
      height: 1em;
      margin: 7.5em auto 0;
      background: black;
    }
  }

  #preface {
    h2 {
      @include ptsans(4em, bold);
      line-height: 1.1em;
      display: block;
      margin-bottom: 0.7em;
    }

    p {
      @include ptsans(1.5em);
      line-height: 1.6em;
      margin-bottom: 1.7em;
    }

    a {
      @include ptsans(2em, bold);
      text-decoration: none;
      color: black;

      &:hover {
        opacity: 0.8
      }
    }

    margin-bottom: 9em;
  }
}

.statement {
  header {
    display: block;
    background: $blue;
    overflow: auto;

    h2 {
      @include ptmono(3.7em);
      color: white;
      line-height: 1.3em;
      margin: 2.1em auto;
    }
  }

  .point {
    margin: 15em auto;

    h3 {
      @include ptsans(5.7em, bold);
      line-height: 1.1em;
      margin-bottom: 0.9em;
    }

    hr {
      border: none;
      background: #4a4a4a;
      height: 3px;
      width: 5.7em;
    }

    h4 {
      @include georgia(2em, normal, italic);
      margin: 2em auto;
      text-align: center;
    }

    hr+p {
      margin-top: 3em;
    }

    p {
      @include georgia(1.7em);
      line-height: 1.3em;
      margin-bottom: 1.5em;
    }

  }
}

